PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://neondb_owner:npg_KeH4uwzbxVd5@ep-flat-brook-aq2mjmpa-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

CLERK_PUBLISHABLE_KEY=pk_test_aGFybWxlc3MtZ3JvdXNlLTY3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_gVR19JJU8M70MfWvKbYDcy6GjjdOBBuhYqeK8Q5W4D

SENTRY_DSN=https://8db41a6df252527a22ab097f00340669@o4511376800284672.ingest.us.sentry.io/4511376806379521

STREAM_API_KEY=uhudvmju3ry6
STREAM_API_SECRET=2ar7ss46tnc2m8htz7z75w336ybn63qsj3zfxgebrkadceg9qpr9z2cescgxtaky

IMAGEKIT_PUBLIC_KEY=public_Q1ipYLRXRNZvukuLtk65Qzbmz7Y=
IMAGEKIT_PRIVATE_KEY=private_juQstGlCm8YvKgOBh29diXLX9Yk=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/pj3i9vid6l



